{% extends 'base.html.twig' %}

{% block title %}
France Tuncq - Accompagnement individuel et transition de vie
{% endblock %}

{% block meta_description %}
Accompagnement individuel avec France Tuncq : transition de vie, connaissance de soi et clarification personnelle à La Plaine-sur-Mer et à distance.
{% endblock %}

{% block og_image %}
{{ app.request.schemeAndHttpHost ~ asset('images/og-home.jpg') }}
{% endblock %}

{% block body %}
	<div class="pt-5">
		{% include "partials/_introduction.html.twig" %}
		{% include "partials/_appointment.html.twig" %}
		{% include "partials/_about_me_homepage.html.twig" %}
		{% include "shared/_footer.html.twig" %}
	</div>
{% endblock %}
