{% extends 'base.html.twig' %}

{% block title %}
France Tuncq — Numérologie & connaissance de soi
{% endblock %}

{% block meta_description %}
Découvrez la numérologie pour mieux vous comprendre : chemin de vie, nombres clés et accompagnement. Prenez rendez-vous en ligne avec France Tuncq.
{% endblock %}

{% block og_image %}
{{ app.request.schemeAndHttpHost ~ asset('images/og-home.jpg') }}
{% endblock %}

{% block body %}
	<div class="pt-5">
		{% include "partials/_introduction.html.twig" %}
		{% include "partials/_appointment.html.twig" %}
		{% include "partials/_about_me_homepage.html.twig" %}
		{% include "shared/_footer.html.twig" %}
	</div>
{% endblock %}
