<section class="cpkw17">
	<div class="nvtq2t">
		<div class="text-center mx-auto vzvqmm">
			<p class="text-uppercase fz3kww">Accompagnement individuel & transition de vie</p>
			<h1 class="mb-3 xakfwk">Explorons ensemble vos ressources, vos potentiels et votre direction</h1>
			<div class="mx-auto muexhr">
				<p class="text-muted mb-4 m47hpr">Un espace d'écoute et de clarification pour mieux vous comprendre, traverser une étape de vie et avancer avec plus de justesse.</p>
				<div class="cdpoze">
					<div class="gda1kl">
						<a href="#appointment" class="p0opb0 d2hxcr">Prendre un temps pour soi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
