<section class="cpkw17">
	<div class="nvtq2t">
		<div class="text-center mx-auto vzvqmm">
			<p class="text-uppercase fz3kww">Accompagnement individuel & transition de vie</p>
			<h1 class="mb-3 xakfwk">Explorons ensemble vos ressources, vos potentiels et votre direction</h1>
			<div class="mx-auto muexhr">
				<p class="text-muted mb-4 m47hpr">
					Un espace d'écoute et de clarification pour mieux vous comprendre, traverser une étape de vie et avancer avec plus de justesse.
				</p>
				<p class="text-muted mb-4">
					Un accompagnement individuel permet de prendre du recul sur une situation, de mieux comprendre ce que l'on traverse et d'avancer avec plus de clarté.
				</p>
				<div class="cdpoze">
					<div class="gda1kl">
						{# <a href="#appointment" class="p0opb0 d2hxcr">Prendre un temps pour soi</a> #}
                        <a href="{{ path('app_appointment_types') }}" class="p0opb0 d2hxcr">
						    📆 Réserver une séance
					    </a>
                        <a href="tel:+33634560579" class="p0opb0 d2hxcr">
						    📞 Appeler
					    </a>
					</div>
				</div>
				<p class="text-muted mt-3 small">
					Réservez directement en ligne ou appelez si vous préférez échanger avant la séance.
				</p>
			</div>
		</div>
	</div>
</section>
